<app-dashboard-card-filter
  title="Controle e Cadastro de Usuários"
  subtitle="Gerencie as informações dos colaboradores internos da empresa."
>
  <ng-container card-filters>
    <form
      class="filters filters-pontos d-grid align-items-end gap-3"
      [formGroup]="form"
    >
      <app-input
        formControlName="nome"
        label="Nome"
        placeholder="Buscar por nome..."
        type="text"
      >
      </app-input>

      <app-input formControlName="dataInicio" label="Data (De)" size="small" type="date">
      </app-input>

      <app-input formControlName="dataFim" label="Data (Até)" size="small" type="date">
      </app-input>
    </form>
  </ng-container>

  <ng-container card-actions>
    <app-buttons variant="search" icon="bi bi-search" (buttonClick)="pesquisarPontos()"
      >Pesquisar
    </app-buttons>
  </ng-container>

  <app-dashboard-table [columns]="columns" [actions]="{ edit: false }">
    @for (registro of (registros$ | async); track registro.id) {
      <tr>
        <td class="py-3 px-4">{{ registro.usuario?.nome }}</td>
        <td class="py-3 px-4">{{ registro.dataHoraEntrada | date:'dd/MM/yyyy' }}</td>
        <td class="py-3 px-4">{{ registro.dataHoraEntrada | date:'HH:mm:ss' }}</td>
        <td class="py-3 px-4">
          @if (registro.dataHoraSaida) {
            {{ registro.dataHoraSaida | date:'HH:mm:ss' }}
          } @else {
            <span class="badge bg-warning">Em aberto</span>
          }
        </td>
      </tr>
    }
  </app-dashboard-table>
</app-dashboard-card-filter>